.GunsSelect {
	width: 95vw;
	margin: 4vh auto;

	display: flex;
	justify-content: center;

	font-size: 1.2rem;
	.Options {
		width: 40vw;

		text-align: center;

		display: grid;
		grid-template-columns: 1fr 1vw 1fr 1vw 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;

		.previous {
			background: rgb(0, 0, 0);
			background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 1) 100%);

			grid-area: 1 / 1 / 2 / 2;
		}
		.leftArrow {
			grid-area: 1 / 2 / 2 / 3;
		}
		.current {
			grid-area: 1 / 3 / 2 / 4;
		}
		.rightArrow {
			grid-area: 1 / 4 / 2 / 5;
		}
		.next {
			background: rgb(255, 255, 255);
			background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 5%, rgba(0, 0, 0, 1) 100%);

			grid-area: 1 / 5 / 2 / 6;
		}
		.previous,
		.next {
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-background-clip: text;
			-moz-text-fill-color: transparent;
		}

		.leftArrow:hover,
		.rightArrow:hover {
			cursor: pointer;
			filter: sepia(100%) saturate(300%) brightness(90%) hue-rotate(180deg);
		}

		.previous,
		.current,
		.next {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
