.Attribute {
	display: flex;

	justify-content: space-around;

	flex-direction: row;
	align-content: center;
	font-family: 'Comfortaa', cursive;

	position: relative;

	font-size: 0.7rem;
	.AttributeName {
		color: rgba(255, 255, 255, 0.75);
		position: absolute;
		top: 0;
		left: 0;
	}
	.AttributeValue {
		color: rgba(255, 255, 255, 1);
		position: absolute;
		top: 0;
		right: 0;
	}
}
